@import url(knacss.css);

/* @author : Prénom NOM */
/* @date : 25/12/2016 */
/* @bugfix : erreur à régler */
/* @todo : à faire */
/* @note :  */


/* ----------------------------- */
/* summary */
/* ----------------------------- */
/*
1- couleurs
2- base styles
3- nav
3- header
4- main
5- aside
6- contact
7- footer
8- adaptive web design
*/

/* ----------------------------- */
/* ==couleurs */
/* ----------------------------- */


/* ----------------------------- */
/* ==base styles */
/* ----------------------------- */
/* importation style de base avec @import url(knacss.css); */


/* ----------------------------- */



/* ----------------------------- */
/* ==header */
/* ----------------------------- */
header{
    width: 100%;
    height: 350px;
    background-image: url(../img/index_fond.png);
    display: flex;
    justify-content: center;
    
}

.fiximg{
    position: absolute;
}
.fixlogo{
    width: 200px;
    height: auto;
    margin-top: 3%;
}

/* ----------------------------- */
/* ==main */
/* ----------------------------- */
main{
    padding-top: 2%;
    background-color: #F8F9EB;
} 

section{
    display: flex;
    justify-content: center;
    margin-top: 1%;
} 

.lesarticles{
    width: 13%;
    margin-right: 2%;
    height: 200px;
}

.colorart1{
    background-color:#9ECAB7 ;
}
.colorart2{
    background-color:#ECC7A1 ;
}
.colorart3{
    background-color: #CAEADE;
}

hr{
    color: white;
    width: 40%;
    margin-left: 10%;
} 


/* ----------------------------- */
/* ==aside */
/* ----------------------------- */


/* ----------------------------- */
/* ==contact */
/* ----------------------------- */


/* ----------------------------- */
/* ==footer */
/* ----------------------------- */


/* ----------------------------- */
/* ==adaptive web design */
/* ----------------------------- */


