@import url(knacss.css);

/* @author : Prénom NOM */
/* @date : 25/12/2016 */
/* @bugfix : erreur à régler */
/* @todo : à faire */
/* @note :  */


/* ----------------------------- */
/* summary */
/* ----------------------------- */
/*
1- couleurs
2- base styles
3- nav
3- header
4- main
5- aside
6- contact
7- footer
8- adaptive web design
*/

/* ----------------------------- */
/* ==couleurs */
/* ----------------------------- */


/* ----------------------------- */
/* ==base styles */
/* ----------------------------- */
/* importation style de base avec @import url(knacss.css); */



/* ----------------------------- */




/* ----------------------------- */
/* ==header */
/* ----------------------------- */
body{
    background-color: #F8F9EB;
} 

header{
    width: auto;
    height: 350px;
    background-image: url(../img/index.png), url(../img/particles.png), url(../img/index_fond.png);
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-position-x: center;
}

.fixlogo{
    width: 200px;
    height: auto;
    margin-top: 3%;
    position: absolute;
}

/* ----------------------------- */
/* ==main */
/* ----------------------------- */
main{
    padding-top: 2%;

    
    
} 

section{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 1%;
} 

.lesarticles{
    width: 20%;
    margin-right: 5px;
    height: 200px;
    margin-top: 5px;

}


.colorart1{
    background-color:#9ECAB7 ;
}
.colorart2{
    background-color:#ECC7A1 ;
}
.colorart3{
    background-color: #CAEADE;
}

hr{
    color: white;
    width: 40%;
    margin-left: 10%;
    border: 1px white solid;
}

.nmrdiv1{
    margin-left: 5%;
    margin-top: 5%;
    width: 15%;
    height: 30px;
    background-color: #76927F;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-10deg);
}

.nmrdiv2{
    margin-left: 5%;
    margin-top: 5%;
    width: 15%;
    height: 30px;
    background-color: #AA5D61;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-10deg);
}

.nmrdiv3{
    margin-left: 5%;
    margin-top: 5%;
    width: 15%;
    height: 30px;
    background-color:#2D6F8A;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-10deg);
}

span{
    color:white;
    transform: rotate(10deg);
}

/* ----------------------------- */
/* ==aside */
/* ----------------------------- */
.backsection{
    background-color: #AA5D60;
    width: 100%;
}

.article100{
    width: 40%;
    padding-left: 30%;
    color : #fff;
}

.paypal{
    float: right;
    width: 200px;
    height: auto;
    border-radius: 5%;
}


.blackhr{
    border: 0.5px solid black;
    color: black;
    width: 100%;
    margin-left: 0%;
}


/* ----------------------------- */
/* ==contact */
/* ----------------------------- */


/* ----------------------------- */
/* ==footer */
/* ----------------------------- */

footer{
    text-align: center;
}

.divvert{
    width: 1px;
    height: 30px;
}


/* ----------------------------- */
/* ==adaptive web design */
/* ----------------------------- */
@media all and (max-width: 312px) and (max-height: 2000px){


    body{
        width: 280px;
        height: 480px;
    } 
    header{
        height: 100px;
        width: 100%;
        background-size: 100%;
        background-image: url(../img/index.png), url(../img/particles.png), url(../img/index_fond.png);
    } 

    .fixlogo{
        width: 80px;
        height: auto;
    }
    .fiximg{
        width: 280px;
    }

    section{
        display:flex;
        flex-wrap: wrap;

    } 


    .lesarticles

    {
        width : auto;
        height: auto;
        font-size: 1.2em;
    }
} 