@import url(knacss.css);

/* @author : Prénom NOM */
/* @date : 25/12/2016 */
/* @bugfix : erreur à régler */
/* @todo : à faire */
/* @note :  */


/* ----------------------------- */
/* summary */
/* ----------------------------- */
/*
1- couleurs
2- base styles
3- nav
3- header
4- main
5- aside
6- contact
7- footer
8- adaptive web design
*/

/* ----------------------------- */
/* ==couleurs */
/* ----------------------------- */


/* ----------------------------- */
/* ==base styles */
/* ----------------------------- */
/* importation style de base avec @import url(knacss.css); */


/* ----------------------------- */



/* ----------------------------- */
/* ==header */
/* ----------------------------- */
header{
    width: 100%;
    height: 350px;
    background-image: url(../img/index_fond.png);
    display: flex;
    justify-content: center;
    
}

.fiximg{
    position: absolute;
}
.fixlogo{
    width: 200px;
    height: auto;
    margin-top: 3%;
}

/* ----------------------------- */
/* ==main */
/* ----------------------------- */
main{
    padding-top: 2%;
    background-color: #F8F9EB;
} 

section{
    margin-left: 30%;
    margin-right: 3%;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1%;
} 

.lesarticles{
    width: 20%;
    margin-right: 5px;
    height: 200px;
    margin-top: 5px;
}

.colorart1{
    background-color:#9ECAB7 ;
}
.colorart2{
    background-color:#ECC7A1 ;
}
.colorart3{
    background-color: #CAEADE;
}

hr{
    color: white;
    width: 40%;
    margin-left: 10%;
    border: 1px white solid;
}

.nmrdiv1{
    margin-left: 5%;
    margin-top: 5%;
    width: 15%;
    height: 30px;
    background-color: #76927F;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-10deg);
}

.nmrdiv2{
    margin-left: 5%;
    margin-top: 5%;
    width: 15%;
    height: 30px;
    background-color: #AA5D61;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-10deg);
}

.nmrdiv3{
    margin-left: 5%;
    margin-top: 5%;
    width: 15%;
    height: 30px;
    background-color:#2D6F8A;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-10deg);
}

span{
    color:white;
}

.divnbr{
    margin-left: 20px;
    transform: rotate(10deg);
    margin-top: 5px;
    margin-right: 20px;
    
}

/* ----------------------------- */
/* ==aside */
/* ----------------------------- */


/* ----------------------------- */
/* ==contact */
/* ----------------------------- */


/* ----------------------------- */
/* ==footer */
/* ----------------------------- */


/* ----------------------------- */
/* ==adaptive web design */
/* ----------------------------- */


